$colors: (
	accent: ( default: #69c5e4 ),
	border: ( default: #ddd ),
	text: (
		default: #666,
		dark: #222,
		light: #aaa,
	),
);

$fonts: (
	primary: #{-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif},
	mono: #{Consolas, Monaco, monospace},
);

$indexes: (
	header: 100,
);
