$colors: (
	accent: ( default: #69c5e4 ),
	border: ( default: #ddd ),
	text: (
		default: #666,
		dark: #222,
		light: #aaa,
	),
);

$fonts: (
	primary: #{-apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'},
);

$indexes: (
	header: 100,
);
