/* ==================================================
   Archive
================================================== */

.archive-header {
	padding-bottom: 4rem;
	margin-bottom: 8rem;
	border-bottom: solid 1px co(border);
}

.archive-title {
	margin-top: 0;
}
