/**
 * Author
 */

.author-box {
	.avatar {
		border-radius: 50%;
	}
}

body.single .author-box {
	padding: 4rem 0;
	margin: 8rem 0;
	border: solid co(border);
	border-width: 1px 0;
}

.author-box-content > *:last-child {
	margin-bottom: 0;
}

.author-title {
	margin: 0;
}

.author-url {
	font-size: 1.2rem;
	line-height: 20px;
	text-transform: uppercase;

	.dashicons {
		margin-right: .5rem;
	}
}

@media (min-width: 640px) {
	.author-box {
		display: flex;
		align-items: center;
		flex-direction: row-reverse;

		.avatar {
			align-self: flex-start;
			margin-left: 2rem;
		}
	}

	.author-box-content {
		flex-grow: 1;
	}
}
