/**
 * Comments
 */

.comment-replies {
	margin-top: 8rem;
}

.comments,
.comments .children {
	margin: 0;
	padding: 0;
	list-style: none;
}

.comments .children {
	margin-left: -4rem;
}

.comment {
	margin-top: 4rem;
	padding-top: 4rem;
	border-top: solid 1px co(border);

	&.bypostauthor .comment-author:before {
		@include icon('\f155');
		position: absolute;
		top: 5.5rem;
		left: -6rem;
		background: white;
		border-radius: 50%;
		color: co(accent);
		box-shadow: 0 0 0 3px white;
	}
}

.comment-body {
	position: relative;
}

.comment-author {
	font-size: 1.17em;
	color: co(text, dark);
}

.comment-author a {
	font-weight: bold;
}

.comment-author .avatar {
	display: block;
	width: 6rem;
	height: 6rem;
	margin-bottom: 2rem;
	border-radius: 50%;
}

.comment-metadata {
	font-size: 1.2rem;
	text-transform: uppercase;
	color: co(text, light);
}

.comment-metadata a:not(:hover) {
	color: inherit;
}

.comment-reply-link {
	position: absolute;
	top: 2rem;
	right: 0;
	line-height: 20px;

	&:not(:hover) {
		color: co(text, light);
	}
}

@media screen and (min-width: 768px) {
	.comment-meta {
		line-height: 3rem;
	}

	.comment {
		padding-left: 8rem;
	}

	.comment-author .avatar {
		float: left;
		margin-left: -8rem;
	}
}
