/**
 * Comments
 */

.comment-replies {
	margin-top: 8rem;
}

.comments,
.comments .children {
	margin: 0;
	padding: 0;
	list-style: none;
}

.comments .children {
	margin-left: -4rem;
}

.comment {
	margin-top: 4rem;
	padding-top: 4rem;
	border-top: solid 1px co(border);
}

.comment-body {
	position: relative;
}

.comment-author {
	font-size: 1.17em;
	color: co(text, dark);
}

.comment-author a {
	font-weight: bold;
}

.comment-author .avatar {
	display: block;
	width: 6rem;
	height: 6rem;
	margin-bottom: 2rem;
	border-radius: 50%;
}

.comment-metadata {
	font-size: 1.2rem;
	text-transform: uppercase;
	color: co(text, light);
}

.comment-metadata a:not(:hover) {
	color: inherit;
}

.comment-reply-link {
	position: absolute;
	top: 2rem;
	right: 0;
	line-height: 20px;
	opacity: 0;
}

.comment-body:hover .comment-reply-link {
	opacity: 1;
}

@media screen and (min-width: 768px) {
	.comment-meta {
		line-height: 3rem;
	}

	.comment {
		padding-left: 10rem;
	}

	.comment-author .avatar {
		float: left;
		margin-left: -10rem;
	}
}
