/**
 * Entry
 */

.entry {
	+ .entry {
		margin-top: 8rem;
	}

	&.sticky .entry-title:before {
		@include icon('\f537');
		position: absolute;
		top: 50%;
		width: 3rem;
		margin: -10px 0 0 -3rem;
		margin-left: -3rem;
		color: co(accent);
		text-align: left;
	}
}

.entry-title {
	position: relative;
	margin: 0;
}

.entry-meta {
	margin-top: 1rem;
	color: co(text, light);

	a {
		color: inherit;

		&:hover {
			color: co(text);
		}
	}
}

.entry-main {
	@include cf();
	margin-top: 4rem;
	margin-bottom: 4rem;

	a {
		@include underline();
	}
}

.entry-footer {
	font-size: 1.2rem;
	color: co(text, light);
	text-transform: uppercase;

	a {
		color: inherit;

		&:hover {
			color: co(text);
		}
	}
}
