/* ==================================================
   Forms
================================================== */

textarea,
input[type=email],
input[type=number],
input[type=password],
input[type=search],
input[type=tel],
input[type=text],
input[type=url] {
	appearance: none;
	display: block;
	padding: 1rem;
	background: white;
	border: solid 1px co(border);
	color: co(border);
}

select {
	display: block;
}

.button,
button,
input[type=button],
input[type=submit] {
	display: inline-block;
	vertical-align: top;
	padding: 1rem 2rem;
	border: none;
	background: co(accent);
	font-family: Montserrat, sans-serif;
	color: white;
	text-align: center;
	cursor: pointer;
}

// .button:hover,
// button:hover,
// input[type=button]:hover,
// input[type=submit]:hover {
// 	background: #45b141;
// }
