/**
 * Site Footer
 */

.site-footer {
	padding-top: 4rem;
	padding-bottom: 4rem;
	border-top: solid 1px co(border);
	font-size: .9em;
	color: co(text, light);
	text-align: center;

	a {
		color: inherit;

		&:hover {
			color: co(text);
		}
	}
}
