/**
 * Site Header
 */

.site-header-image {
	display: block;
	width: 100%;
	height: auto;
	max-height: calc(100vh - 8rem);
	margin: auto;
	object-fit: cover;
}

.site-header-image-clone {
	position: fixed;
}

.site-header {
	padding-top: 2rem;
	padding-bottom: 2rem;
	box-shadow: 0 1px rgba(0, 0, 0, .125);
	background: white;
	font-size: 1.3rem;
	line-height: 1.3;
	text-transform: uppercase;
	transition: .2s;
	z-index: zi(header);

	a:hover {
		color: co(text, dark);
	}

 	.wrap {
		display: flex;
		flex-wrap: wrap;
		max-width: none;
		justify-content: space-between;
		align-items: center;
	}
}

.site-header-sticky {
	position: sticky;
	top: 0;
}

.site-title {
	margin: 0;
	font-size: 2rem;
}

.site-description {
	margin: 0;
	font-weight: normal;
	font-size: 1.2rem;
}

.site-nav-toggle {
	padding: 1rem;
	background: transparent;
	line-height: 20px;
	color: co(text, dark);
	transition: .2s;
}

body:not(.-nav-open) .site-nav-toggle .dashicons-no,
body.-nav-open .site-nav-toggle .dashicons-menu {
	display: none;
}

.site-nav {
	line-height: 20px;

	ul {
		margin: 0;
		padding: 0;
		list-style: none;
	}

	li {
		position: relative;

		.site-nav-toggle {
			position: absolute;
			top: 0;
			right: 0;
		}
	}

	a {
		display: block;

		&:not(:hover) {
			color: inherit;
		}
	}
}

@media screen and (max-width: 959px) {
	.site-nav {
		width: 100%;
		margin-top: 2rem;

		.menu > ul li:not(.-open) {
			> ul {
				display: none;
			}

			> .site-nav-toggle {
				transform: rotateX(180deg);
			}
		}

		ul ul {
			ul {
				margin-left: 20px;
			}

			a:before {
				@include icon('\f139');
				color: co(border);
			}
		}

		li {
			border-top: solid 1px co(border);
		}

		a {
			padding: 1rem .5rem;
		}
	}

	body:not(.-nav-open) .site-nav {
		display: none;
	}
}

@media screen and (min-width: 960px) {
	.site-branding {
		align-items: center;
	}

	.site-nav-toggle {
		display: none
	}

	.site-nav {
		display: flex;

		a {
			padding: 1rem;
		}
	}

	// Top-level
	.site-nav .menu > ul {
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-end;

		> li {
			display: flex;
			flex-shrink: 0;
			align-items: center;
			padding: 2rem 0;
			margin: -2rem 0;

			+ li {
				margin-left: 1rem;
			}
		}

		> .menu-item-has-children,
		> .page_item_has_children {
			> a:after {
				@include icon('\f347');
				margin-left: .5rem;
				color: co(border);
			}
		}
	}

	// Children
	.site-nav .menu {
		ul ul {
			position: absolute;
			width: 20rem;
			border: solid 1px co(border);
			background: white;
			font-size: 1.2rem;
			transition: .2s;

			&:before,
			&:after {
				content: '';
				position: absolute;
			}

			li + li {
				border-top: solid 1px co(border);
			}

			a {
				padding: 1.5rem;
			}
		}

		li:not(:hover) > ul {
			opacity: 0;
			visibility: hidden;
		}
	}

	// 2nd-level
	.site-nav .menu > ul > li > ul {
		top: 100%;
		right: 0;

		&:before {
			top: -10px;
			right: 1rem;
			border-right: solid 10px transparent;
			border-left: solid 10px transparent;
			border-bottom: solid 10px co(border);
		}

		&:after {
			top: -9px;
			right: 1rem;
			border-right: solid 10px transparent;
			border-left: solid 10px transparent;
			border-bottom: solid 10px white;
		}
	}

	// 3rd-level plus
	.site-nav .menu > ul > li > ul > li ul {
		right: 100%;
		top: -1px;

		&:before {
			top: 1.3rem;
			right: 0;
			border-top: solid 10px transparent;
			border-right: solid 10px co(border);
			border-bottom: solid 10px transparent;
		}

		&:after {
			top: 1.3rem;
			right: -1px;
			border-top: solid 10px transparent;
			border-right: solid 10px white;
			border-bottom: solid 10px transparent;
		}
	}
}

@media screen and (min-width: 601px) and (max-width: 782px) {
	body.admin-bar .site-header-sticky {
		top: 46px;
	}
}

@media screen and (min-width: 783px) {
	body.admin-bar .site-header-sticky {
		top: 32px;
	}
}
